.wrapper {
    overflow: hidden;
}
  
.sliding-background {
    background: url("images/bg.jpg") repeat-y;
    height: 576px;
    display: block;
    animation: slide 500s linear infinite;
}
  
@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(0, -240px, 0);
    }
}