/*Style for the buttons*/
#choice1, #choice2, #choice3, #choice4 {
    margin: 2% 6% 2% 6%;
    display: inline-block;
    width: 88%;
    text-align: center;
}

/*Style for host button*/
#hostGameShow {
    margin: 2% 2% 2% 2%;
    display: inline-block;
    text-align: center;
}

/*Style for join/username options*/
#usernameInput, #enteredCode, #joinGame {
    margin: 0% 2% 2% 2%;
    display: inline-block;
    width: 28.5%;
    text-align: center;
}

/*Style for host options*/
#categories, #difficulty, #amount, #hostGame, #startGame {
    margin: 0% 2% 2% 2%;
    display: inline-block;
    width: 15.5%;
    text-align: center;
}

/*Sytle for game information*/
#username, #timer, #question{
    margin: 0% 2% 2% 2%;
    display: inline-block;
    text-align: center;
}

#warning, #displayCode{
    margin: 0% 2% 2% 2%;
    display: inline-block;
    text-align: left;
    width: 90%;
}

#resultImg{
    margin: 0% 2% 2% 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Style for different sized screens*/
@media (max-width : 769px) {
    #choice1, #choice2, #choice3, #choice4 {
    }
    
    #hostGameShow {
        margin: 4% 4% 4% 4%;
    }
    
    #usernameInput, #enteredCode, #joinGame {
        width: 24%;
        margin: 0% 4% 4% 4%;
    }
    
    #categories, #difficulty, #amount{
        width: 24%;
        margin: 0% 4% 4% 4%;
    }

    #hostGame, #startGame {
        width: 41%;
        margin: 0% 4% 4% 4%;
    }

    #username, #timer, #question{
        margin: 0% 4% 4% 4%;
    }
}