/*Style for the buttons*/
button {
    margin: 2% 6% 2% 6%;
    display: inline-block;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
	transition: all 0.2s ease;
    cursor: pointer;
    text-align: center;    
}

#choice1, #choice2, #choice3, #choice4 {
    margin: 2% 6% 2% 6%;
    display: inline-block;
    width: 88%;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    background: none;
    outline: none;
	transition: all 0.2s ease;
    cursor: pointer;
    text-align: center;
}

.backgroundImgContent {
    height: 78%;
    width: 60%;
    position: absolute;
    z-index: 0;
    border: 2px solid;
    border-radius: 4px;
    left: 20%;
    top: 6%;
}

#gameDiv {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    border: 2px solid;  
    border-radius: 4px;
    left: 0%;
    right: 0%;
    top: 0%;
}

#backgroundImg {
    z-index: 1;
    margin: none;
    padding: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #333;
    object-fit: cover;
    border-radius: 4px;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 100% !important;
}


#footer {
    position: absolute;
}

/*Style for host button*/
#hostGameShow {
    margin: 2% 2% 2% 2%;
    display: block;
    text-align: left;
}

/*Style for join/username options*/
#usernameInput, #enteredCode, #joinGame {
    margin: 0% 2% 2% 2%;
    display: inline-block;
    width: 28.5%;
    text-align: center;
}

/*Style for host options*/
#categories, #difficulty, #amount, #hostGame, #startGame {
    margin: 0% 2% 2% 2%;
    display: inline-block;
    width: 20%;
    text-align: center;
}

/*Sytle for game information*/
#username, #timer{
    margin: 0% 2% 2% 2%;
    display: inline-block;
    text-align: left;
}

#question{
    margin: 0% 2% 2% 2%;
    display: block;
    text-align: left;
    width: 80%;
}

#usersWrapper{
    margin: 0% 2% 2% 2%;
    display: inline-block;
    text-align: left;
    width: 90%;
}

#warning, #displayCode{
    margin: 0% 2% 2% 2%;
    display: inline-block;
    text-align: left;
    width: 90%;
}

#backgroundImg{
    margin: 0% 2% 2% 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/*Style for different sized screens*/
@media (max-width : 996px){
    #backgroundImg{
        height: 80%;
        width: 80%;
    }
}

@media (max-width : 769px) {
    #choice1, #choice2, #choice3, #choice4 {
    }
    
    #hostGameShow {
        margin: 4% 4% 4% 4%;
    }
    
    #usernameInput, #enteredCode, #joinGame {
        width: 24%;
        margin: 0% 4% 4% 4%;
    }
    
    #categories, #difficulty, #amount{
        width: 24%;
        margin: 0% 4% 4% 4%;
    }

    #hostGame, #startGame {
        width: 41%;
        margin: 0% 4% 4% 4%;
    }

    #username, #timer, #question{
        margin: 0% 4% 4% 4%;
    }
}