/*Style sheet for the game itself*/

/*Style for buttons*/
button {
    margin: 2% 6% 2% 6%;
    display: inline-block;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-align: center;    
}

/*test buttons*/
#testButtons {
    display: inline-block;
    position: absolute;
}

#showBool, #showNormal {
    position: relative;
    display: inline;
}

/*Style for the four buttons to anwer questions with*/
#choice1, #choice2, #choice3, #choice4 {
    margin: 2% 6% 0% 6%;
    display: inline-block;
    width: 88%;
    height: 8%;
    font-size: 165%;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#choice1 {
    margin-top: 6%;
}

/*Style for entire game*/
.gameContent {
    height: 77%;
    width: 60%;
    position: absolute;
    z-index: 0;
    border: 2px solid;
    border-radius: 4px;
    left: 20%;
    top: 6%;
    background-color: white;
}

/*Style for game buttons/content*/
#gameDiv {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    border: 2px solid;  
    border-radius: 4px;
    left: 0%;
    right: 0%;
    top: 0%;
}

/*background image*/
#backgroundImg {
    z-index: 1;
    margin: none;
    padding: none;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #333;
    object-fit: contain;
    border-radius: 4px;
    left: 0%;
    right: 0%;
    top: 0%;
}

/*Style for the footer in the game*/
#footer {
    position: absolute;
}

/*Style for leaderboard*/
#leaderboard {
    margin: 22% 2% 2% 2%;
    position: absolute;
    width: 96%;
    
    text-align: center;
}

/*Style for each user in leaderboard*/
.users {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 70%;
    text-align: center;
    display: inline-block;
}

/*Style for warning and room code*/
#warning, #displayCode {
    position: relative;
    margin: 0% 0% 2% 10%;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    text-align: center;
    display: block;
    width: 80%;
    background-color: white;
    font-weight: bold;
}

#displayCode{
    margin: 40% 0% 2% 10%;                    
}

/*Style for host button*/
#hostGameShow {
    margin: 40% 2% 2% 2%;
    display: block;
    text-align: left;
}

/*Style for join/username options*/
#usernameInput, #enteredCode, #joinGame {
    margin: 0% 2% 2% 2%;
    display: inline-block;
    width: 28.5%;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #222;
    border: 1px solid #333;
    border-radius: 4px;
}

#joinGame{
    border: 2px solid #333;
}

/*Style for host options*/
#categories, #difficulty, #amount, #hostGame, #startGame {
    margin: 0% 2% 2% 2%;
    display: inline-block;
    width: 20.65%;
    text-align: center;
}

#categories, #difficulty, #amount{
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: #222;
    border: 1px solid #333;
    border-radius: 4px;
}

/*Style for game information*/
#timerWrapper{
    position: relative;
    margin: 12% 0% 2% 10%;
    outline: none;
    text-align: center;
    display: block;
    width: 80%;
    font-weight: bold;
}

#timer{
    display: inline-block;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: #222;
    outline: none;
    cursor: default;
}

#username{
    position: absolute;
    margin: 10% 2% 4% 2%;
    text-align: left;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: #222;
    outline: none;
}

/*Style for question*/
#question{
    position: relative;
    margin: 2% 2% 2% 2%;
    padding: 2% 0% 2% 0%;
    line-height: normal;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    outline: none;
    cursor: default;
}

#questionWrapper {
    height: 10%;
    vertical-align: middle;
}