.wrapper {
    overflow: hidden;
}
  
.sliding-background {
    background: url("images/bg.jpg") repeat-y;
    height: 576px; /* Height of reworked background image */
    display: block;
    animation: slide 10s linear infinite; /* 500s (speed in which background scrolls upwards in game) */
}
  
@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(0, -240px, 0);
    }
}
