.container {
    overflow: hidden;
}
  
.sliding-background { /* Skull background for play game will slide from right to left. We have done this for network latency, much like a loading screen in a video game*/
    position: absolute;
    z-index: 0;
    background: url("images/bg2.jpg") repeat-x; /* Image bg2 created. Much longer thn standard bg image. Located in images folder. Has a minor easter egg if you hang out long enough */
    height: 680px; /* Can change if needed. Increase number if background clips over game */
    display: block;
    animation: slide 900s linear infinite; /* Smooth slide with resize capabilities */
}
  
@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-19487px, 0, 0);
    }
}
